<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SD Motos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <header class="main-header">
        <a href="#inicio" class="logo-link">
            <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="SD Motos Logo" class="header-logo">
        </a>
        <nav>
            <ul>
                <li><a href="#inicio" class="nav-link active">INICIO</a></li>
                <li><a href="#localizacao" class="nav-link">LOCALIZAÇÃO</a></li>
                <li><a href="#sobre-nos" class="nav-link">SOBRE NÓS</a></li>
                <li><a href="#contato" class="nav-link">CONTATO</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio" class="content-section">
        <div class="inicio-container">
            
            <div class="search-section">
                <div class="search-form-box">
                    <h3>Faça sua pesquisa</h2>
                    <form action="{{ url_for('home') }}" method="GET">
                        <label for="marca">Marca:</label>
                        <input type="text" id="marca" name="marca" value="{{ request.args.get('marca', '') }}"><br><br>
    
                        <label for="modelo">Modelo:</label>
                        <input type="text" id="modelo" name="modelo" value="{{ request.args.get('modelo', '') }}"><br><br>
    
                        <label for="ano">Ano:</label>
                        <input type="number" id="ano" name="ano" value="{{ request.args.get('ano', '') }}"><br><br>
    
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>
    
            <div class="motorcycles-display">
                <div class="motorcycles-grid">
                    {% for moto in motos %}
                    <div class="moto-card">
                        {% if moto.imagem_url %}
                        <img src="{{ url_for('static', filename='uploads/' + moto.imagem_url) }}" alt="Imagem da Moto">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="Sem Imagem">
                        {% endif %}
                        <h3>{{ moto.marca }} {{ moto.modelo }}</h3>
                        <p>Ano: {{ moto.ano }}</p>
                        <p>Preço: R$ {{ moto.preco }}</p>
                        <p>Descrição: {{ moto.descricao }}</p>
                        <a href="https://wa.me/5516981535884?text={{ 'Olá, tenho interesse em saber mais sobre a %s %s, ano %s.'|format(moto.marca, moto.modelo, moto.ano)|urlencode }}" class="btn-card">Veja mais</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </section>

    <section id="localizacao" class="content-section">
        <h1>LOCALIZAÇÃO</h1>
        <div class="location-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.7385292563717!2d-47.831951624738586!3d-21.202543480490615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b9bebbb9e03797%3A0xb7eec8eeb274f93e!2sAv.%20Luzitana%2C%20140%20-%20Parque%20Ribeirao%20Preto%2C%20Ribeir%C3%A3o%20Preto%20-%20SP%2C%2014031-240!5e0!3m2!1spt-BR!2sbr!4v1755655878982!5m2!1spt-BR!2sbr" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <a href="https://www.google.com/maps/place/Av.+Luzitana,+140+-+Parque+Ribeirao+Preto,+Ribeirão+Preto+-+SP,+14031-240/@-21.2025435,-47.8319516,17z/data=!3m1!4b1!4m6!3m5!1s0x94b9bebbb9e03797:0xb7eec8eeb274f93e!8m2!3d-21.2025435!4d-47.8293767!16s%2Fg%2F11f3w1s6j3?entry=ttu&g_ep=EgoyMDI1MDgxNy4wIKXMDSoASAFQAw%3D%3D"><p>Av. Luzitana, 140 - Parque Ribeirao Preto</p>
            <p>Ribeirão Preto - SP, 14031-420</p></a>
        </div>
    </section>

    <section id="sobre-nos" class="content-section">
        <h1>SOBRE NÓS:</h1>
        <div class="about-content">
            <div class="about-text">
                 <p>
                Desde 2022, a SD Motos tem sido o destino de confiança para os amantes de duas rodas em Ribeirão Preto. Com uma paixão genuína por motocicletas, nossa missão é oferecer a melhor experiência na compra e venda, com um atendimento que prioriza a transparência e a segurança.
                <br><br>
                Somos especialistas no mercado de motos usadas, comprando veículos em excelentes condições e avaliando sua moto na troca, garantindo um negócio justo para ambos os lados. Além disso, oferecemos opções de financiamento flexíveis para que você possa realizar o sonho de ter sua nova moto sem complicações.
                <br><br>
                Na SD Motos, você encontra qualidade, variedade e a parceria ideal para a sua próxima aventura sobre duas rodas.
            </p>
            </div>
            <div class="about-image">
                <img src="{{ url_for('static', filename='img/paisagem.png') }}" alt="Imagem de paisagem">
            </div>
        </div>
    </section>

    <section id="contato" class="content-section">
        <h1>ENTRE EM CONTATO COM A GENTE</h1>
        <div class="contact-content">
            <a href="https://wa.me/5516981535884" class="contact-btn phone-btn"><strong>+55 16 98153-5884</strong></a>
            <a href="https://www.instagram.com/sdmotos2022" class="contact-btn instagram-btn" target="_blank"> <strong>@SDMOTOS2022</strong></a>
            <a href="https://www.facebook.com/sd.motos.2025" class="contact-btn facebook-btn" target="_blank"> <strong>SD Motos</strong></a>
        </div>
    </section>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
