<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SD Motos - Login</title>
</head>
<body>
    <div style="text-align: center; padding-top: 50px;">
        <h1>Seja bem vindo!</h1>
        <p>Tela de login, em breve colocar designe</p>
        
        <form action="#" method="post">
            <input type="text" name="Login"><br><br>
            <input type="text" name="Senha"><br><br>
            <button type="button">Entrar</button>
        </form>

        <a href="#">Entrar sem Login</a>

    </div>
</body>
</html>